<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="comm::header"></div>
	<script>
		function filterQuery(){
			$('#kfGrid').datagrid('reload',{
				kfbh:$('#kfbh').numberbox('getValue'),
				kfmc:$('#kfmc').textbox('getValue')
			});
		}
		
		function toAdd(){
			$('#dlg1').dialog('open');
		}
		
		function saves(){
			$('#kfAddForm').form('submit',{
				success:function(){
					$('#dlg1').dialog('close')
					$.messager.show({
						title:'提示',
						msg:'保存成功'
					});
					$('#kfGrid').datagrid('load');
				}
			});
		}
		
		function toDelete(){
			var row = $('#kfGrid').datagrid('getSelected')
			if(row !=null){
				$.messager.confirm('询问','确认是否删除',function(f){
					if(f==true){
						$.post('kfDelete.do',{kfbh:row.kfbh},function(){
							$.messager.show({
								title:'提示',
								msg:'删除成功',
							});
							$('#kfGrid').datagrid('reload');
						})
					}
				});			
			}
		}
		
		function toUpdate(){
			var row = $('#kfGrid').datagrid('getSelected')
			if(row){
				$.post('kfFindOne.do',{kfbh:row.kfbh},function(kf){
					$('#kfUpdateFrom').form('load',kf)
					$('#dlg2').dialog('open')
				},'json');
			}
		}
		
		function kfUpdate(){
			$('#kfUpdateFrom').form('submit',{
				success:function(){
					$('#dlg2').dialog('close')
					$.messager.show({
						title:'提示',
						msg:'编辑成功'
					});
					$('#kfGrid').datagrid('reload')
				}
				
			});
			
		}
		
		
	</script>

</head>
<body>
	<table id="kfGrid" class="easyui-datagrid" 
					data-options="url:'kf.do',pagination:true,
					  			singleSelect:true,fit:true,
					 			fitColumns:true,toolbar:'#filters'
								">
		<thead>
			<tr>
				<th data-options="field:'kfbh',width:80,align:'center'">库房编号</th>
				<th data-options="field:'kfmc',width:80,align:'center'">库房名称</th>
				<th data-options="field:'zjm',width:80,align:'center'">助记码</th>
				<th data-options="field:'kfdz',width:80,align:'center'">库房地址</th>
				<th data-options="field:'kfgly',width:80,align:'center'">库房管理员</th>
				<th data-options="field:'kflxfs',width:80,align:'center'">库房联系方式</th>
			</tr>
		</thead>
	</table>
	
	<div id="filters">
		<input class="easyui-numberbox" id="kfbh" name="kfbh" label="库房编号"/>
		<input class="easyui-textbox" id="kfmc" name="kfmc" label="库房名称">
		<a class="easyui-linkbutton" iconCls='icon-search' onclick="filterQuery()">查询</a>
		<a class="easyui-linkbutton" iconCls='icon-add' onclick="toAdd()">批量保存</a>
		<a class="easyui-linkbutton" iconCls='icon-edit' onclick="toUpdate()">编辑</a>
		<a class="easyui-linkbutton" iconCls='icon-remove' onclick="toDelete()">删除</a>
	</div>
	
	<div id="dlg1" class="easyui-dialog" data-options="width:350,modal:true,closed:true,title:'批量添加',buttons:'#btns1'">
		<div style="margin:20px;">
			<form id="kfAddForm" action="kfsaves.do" method="post" enctype="multipart/form-data">
				<input type="file" name="excel" />
			</form>
		</div>
	</div>
	<div id="btns1">
		<a class="easyui-linkbutton" iconCls="icon-ok" onclick="saves()">提交</a>
	</div>
	
	<div id="dlg2" class="easyui-dialog" data-options="width:350,modal:true,closed:true,title:'编辑',buttons:'#btns2'">
		<form id="kfUpdateFrom" action="kfUpdate.do" method="post">
			<div style="margin:10px;">
				<input class="easyui-numberbox" readonly="true" id="kfbh" name="kfbh" style="width:100%" label="库房编号"/>
			</div>
			<div style="margin:10px;">
				<input class="easyui-textbox" required="true" id="kfmc" name="kfmc" style="width:100%" label="库房名称"/>
			</div>
			<div style="margin:10px;">
				<input class="easyui-textbox" required="true" id="kfdz" name="kfdz" style="width:100%" label="库房地址"/>
			</div>
			<div style="margin:10px;">
				<input class="easyui-textbox" required="true" id="kfgly" name="kfgly" style="width:100%" label="管理员"/>
			</div>
			<div style="margin:10px;">
				<input class="easyui-numberbox" required="true" id="kflxfs" name="kflxfs" style="width:100%" label="联系方式"/>
			</div>
		</form>
	</div>
	<div id="btns2">
		<a class="easyui-linkbutton" iconCls="icon-ok" onclick="kfUpdate()">编辑</a>
	</div>
	
</body>
</html>