<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx20180409.sygl.dao.IKcDao">
	<select id="findKcBySpAndKf" resultType="int">
		select count(*) from t_kc where spbh = #{spbh} and kfbh = #{kfbh}
	</select>
	
	<insert id="saveKc">
		insert into t_kc values(null,#{spbh},#{sl},#{kfbh},null,null)
	</insert>
	
	<update id="updateKc">
		update t_kc set sl = sl+#{sl} where spbh = #{spbh} and kfbh = #{kfbh}
	</update>

</mapper>