<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TabEmpMapper" >
  <resultMap id="BaseResultMap" type="com.domain.TabEmp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="empid" property="empid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="jobdate" property="jobdate" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="zjm" property="zjm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, empid, username, sex, birthday, jobdate, del, flag, date, bz, zjm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.domain.TabEmp" >
    insert into tab_emp (id, empid, username, 
      sex, birthday, jobdate, 
      del, flag, date, 
      bz, zjm)
    values (#{id,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{birthday,jdbcType=VARCHAR}, #{jobdate,jdbcType=VARCHAR}, 
      #{del,jdbcType=INTEGER}, #{flag,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{bz,jdbcType=VARCHAR}, #{zjm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.TabEmp" >
    insert into tab_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empid != null" >
        empid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="jobdate != null" >
        jobdate,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="zjm != null" >
        zjm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="jobdate != null" >
        #{jobdate,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zjm != null" >
        #{zjm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.TabEmp" >
    update tab_emp
    <set >
      <if test="empid != null" >
        empid = #{empid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="jobdate != null" >
        jobdate = #{jobdate,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zjm != null" >
        zjm = #{zjm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.TabEmp" >
    update tab_emp
    set empid = #{empid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      jobdate = #{jobdate,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER},
      flag = #{flag,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      zjm = #{zjm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>